html {
    font-family: Avenir, sans-serif;
    font-size: small;
    color: black;
}

body {
    background-color: black;
}

/* .square {
    width: 180%;
    height: 700%;
    border: solid black;
    background-color: black;
} */

h2, h3, p, img, li {
    margin-bottom: 1rem;
}

.article-spacer {
    margin-bottom: 3rem;
}


.scrollbar {
    max-width: 100%; 
    max-height: 35rem;
}

/*=======================================
 TEXTEINSTELLUNGEN
 =======================================*/
h2, header, footer, button, li {
    font-family: "Arial Black", sans-serif;
    font-size: large;
}

h1 {
    font-family: "Arial Black", sans-serif;
    font-size: xx-large;
}

h3 {
    font-family: "Arial Black", sans-serif;
    font-size: medium;
}

h4 {
    font-family: "Arial Black", sans-serif;
    font-size: small;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, header, footer, button, li, p {
    color: white;
}


/*=======================================
 LINKEINSTELLUNGEN
 =======================================*/
a {
    color: white;
}

a:hover, a:active {
    color: #3f3f3f;
    text-decoration: none;
}
.dropdown-item:active {
    background-color: #3f3f3f;
}

.dropdown-menu {
    background-color: black;
}

a.dropdown-item {
    color: white;
}

a.active {
    color: #3f3f3f;
}



/*=======================================
BILDEINSTELLUNGEN
=======================================*/

